# Виртуальное окружение
venv/
env/
ENV/

# Файлы с данными (твои вопросы и ответы!)
*.csv
*.xlsx

# Системные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Системные файлы ОС
.DS_Store
Thumbs.db

# ИСКЛЮЧЕНИЕ: файл с вопросами для одногруппников
!exam_questions_start_copy.csv
